/* Responsive cards */
@media (max-width: 920px){
  html,
  body{
    width: 100vw;
    overflow-x: hidden;
  }
  section.cards{
    flex-direction: column;
    height: 130vh;
    padding: 5vh 10vw;
    & div{
      min-width: 80vw;
      max-height: 40vh;
    }
    & button.contacto{
      padding-top: 0px;
    }
  }

}