/*-----------fonts--------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/*---------------global style----------------*/
/* define custom css variables */
:root {
  --main-yellow: #FAE915;
  --main-green: #06A241;
  --main-blue: #7282BE;
  --main_dark-blue: #1F1E74;
  --main_black: #000000;
  --main-white: #ECEAE7;
  --contact-background: #7282BE;
  --contact-fontcolor: rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  font-size: 20px;
}

/*Desplazamiento de scroll*/
html {
  scroll-behavior: smooth;
}
section[id]{
  scroll-margin-top: 85px;
}

.section-title {
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
.section-title h2 {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  color: var(--main_black);
  text-transform: uppercase;
  margin: 0;
}

.section-title h2:before {
  content: attr(data-heading);
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--main-yellow)
}
.nav {
  position: fixed;
  background-color: #3e3bc4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  width: 100vw;
  padding: 5px 10%;
  z-index: 999;
}
.nav .active{
  background-color: #09870d;
}

.nav .logo {
  cursor: pointer;
}

.nav .logo img {
  height: 70px;
  width: auto;
}

.nav .nav-links {
  list-style: none;
}

.nav .nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav .nav-links li:hover {
  transform: scale(1.1);
}

.nav .nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.nav .nav-links li a:hover {
  color: #FAE915;
}
.nav .btn button {
  padding: 9px 25px;
  background-color: #FAE915;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease 0s;
}
.nav .btn button:hover {
  background-color: #fff;
  color: #1F1E74;
  transform: scale(1.1);
}
/*Carrusel Start*/
.slider{
  width: 98.9vw;
  height: 100vh;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.slider .list{
  position:absolute;
  width: max-content;
  height: 1000px;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}
.slider .list img{
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
}
.slider .buttons{
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
.slider .buttons button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
  z-index: 9;
}
.slider .dots{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
z-index: 8;
}
.slider .dots li{
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
  z-index: 7;
}
.slider .dots li.active{
  width: 30px;
}
@media screen and (max-width: 768px){
  .slider{
      height: 400px;
  }
}

.slider .cover{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.751);
  align-items: center;
  z-index: 1;
  justify-content: center;
  padding: 5px 10%;
  display: table-cell;
  vertical-align: middle;
  align-items: center;
}
p {
  display: inline-block;
  z-index: 6;
  vertical-align: middle;
  color: #fff;
}
/*Carrusel end*/


/*description section start*/
.description_main {
  display: flex;
  background-color: rgb(0, 115, 255);
  width: 100%;
  justify-content: center;
  height: 100vh;
}

.description_texts {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box
}

.elementos {
  width: 100%;
  background-color: #1F1E74;
}

.elementos h1 {
  font-size: 24px;
}

.elementos p {
  font-size: 16px;
  margin: 10px 0;
}

.elementos .btn {
  text-align: center;
}

.band-section {
  display: flex;
  justify-content: right;
  flex: 0.5;
  width: 50%;
  box-sizing: border-box
}
.band {
  width: 49vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}


.left-band {
  align-items: left;
}

.right-band {
  align-items: flex-end;
}

.left-band .band-track1 {
  animation: scroll-up 0.1s linear infinite;
  -webkit-animation: scroll-up 10s linear infinite;
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
}

.right-band .band-track2 {
  animation: scroll-down 0.1s linear infinite;
  -webkit-animation: scroll-down 10s linear infinite;
  display: flex;
  flex-direction: column;
  height: auto;
}

.band .band {
  width: 100%;
  background-color: #ffffff;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.band .band img {
  width: 100%;
  height: 100%;
}

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(-10vh * 3));
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(10vh * 3));
  }
}

/* testimonial section */
.testimonial-section {
  padding: 120px 0 0 0;
  min-height: 100vh;
  background-color: var(--main-blue);
}

.testimonial-container {
  background-color: var(--main-white);
  border-radius: 15px;
  margin: 20px auto;
  padding: 50px 80px;
  max-width: 768px;
  position: relative;
}

.testimonial-container p {
  padding-bottom: 30px;
  color: var(--main_black)
}

.fa-quote {
  color: var(--main_dark-blue);
  font-size: 28px;
  position: absolute;
  top: 70px;
}

.fa-quote-right {
  left: 40px;
}

.fa-quote-left {
  right: 40px;
}

.testimonial {
  line-height: 28px;
  text-align: justify;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user .user-image {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.user .user-details {
  margin: 30px 0 0 40px;
}

.user .username {
  margin: 0;
  color: var(--main_dark-blue);
  font-weight: bold;
}

.user .role {
  font-weight: normal;
  margin: 10px 0;
}

.progress-bar-testimonial {
  background-color: #1F1E74;
  height: 4px;
  width: 100%;
  animation: grow 10s linear infinite;
  transform-origin: left;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

@media (max-width: 768px) {
  .testimonial-container {
    padding: 20px 30px;
  }

  .fa-quote {
    display: none;
  }
}
.container{
  max-width: 1140px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
/*----------------
about section
----------------*/
.about-section{
  padding: 80px 0 0;
  min-height: 100vh;
}
.about-section .about-img{
  flex:0 0 40%;
  max-width: 40%;
  padding:0 15px;
}
.about-section .about-img .img-box{
  padding: 15px;
  border-radius: 5px;
}
.about-section .about-img .img-box img{
  width: 100%;
  border:10px solid transparent;
  border-radius: 5px;
  background-color: white;
}
.about-section .about-img .social-links{
  margin-top:20px;
  text-align: center;
}
.about-section .about-img .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 16px;
  text-align: center;
  color: #09870d;
  margin:0 4px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.about-section .about-img .social-links a i{
  line-height: 40px;
  font-size: 27px;
}
.about-section .about-img .social-links a:after{
  border-radius: 50%;
}
.about-section .about-img .social-links a:hover{
  color: #1F1E74;
}
/*------------
Contact
------------*/
.contact_section{
  padding: 0 0 0 0;
  min-height: 100vh;
  background-color: var(--contact-background);
  display:grid;
  grid-template-columns: 1fr 1fr; /* Crea dos columnas de igual tamaño */ /* Espacio entre elementos */
}

.formulario-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--contact-background);
  border-radius: 8px;
}

form {
  display: grid;
  gap: 15px;
}
.formContacto{
  color: var(--contact-fontcolor);
  text-align: center;
  font-size: 50px;
}

label {
  color: white;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #217dbb;
}


/*------------
footer
------------*/
footer{
  padding: 50px 8% 0 8%;
  height: 50vh;
  background-color:#1F1E74; /*variable fondo de color*/
  justify-content: center;
}
.footerparte1{
  display:grid;
  grid-template-columns: 20% 15% 30% 30%;
  grid-gap: 10px;
  background-color: #1F1E74;
  color:#fff;
  & ul.footer_lista1{
    padding: 0 0 0 30%;
    /*background-color: #06A241;*/
    border-left: 2px solid #ffffff;
    display: flex;
    justify-content:  center;
    flex-direction: column;
    list-style-type: none;
    & li{
      padding: 15px;
    }
  }
  & ul.footer_lista2{
    padding: 0 0 0 10%;
    border-left: 2px solid #ffffff;
    display: flex;
    justify-content:  center;
    flex-direction: column;
    list-style-type: none;
    & li{
      padding: 10px;
    }
  }
  & embed{
    padding: 12% 0 0 0;
    width: 30vh;
  }
  & h1{
    font-size: 25px;
    padding-top: 30%;
  }
  hr{
    padding: 10px 0 10px 0;
  }   
}



