/*-----------fonts--------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/*---------------global style----------------*/
/* define custom css variables */
:root {
  --main-yellow: #FAE915;
  --main-green: #06A241;
  --main-blue: #7282BE;
  --main_dark-blue: #1F1E74;
  --main_black: #000000;
  --main-white: #ECEAE7;
  --contact-background: #ffffff;
  --contact-fontcolor: rgb(0, 0, 0);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  font-size: 20px;
}
/*Desplazamiento de scroll*/
html {
  scroll-behavior: smooth;
}
section[id]{
  scroll-margin-top: 85px;
}
/*Configuracion todos los botones*/
button{
  cursor:pointer;
}
.btn{
  padding: 9px 25px;
  background-color: #FAE915;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease 0s;
}
button.btn:hover{
background-color: #fff;
color: #1F1E74;
transform: scale(1.1);
}


/*NAV*/
.navBarra {
  position: fixed;
  background-color: #1F1E74;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  width: 100%;
  padding: 5px 10%;
  z-index: 999;
  & div.logo img{
    height: 70px;
    width: auto;
    cursor: pointer;
  }
  & nav ul{
    list-style: none;
    & li{
      display: inline-block;
      padding: 0px 20px;
      font-size: 20px;
      font-weight: bold;
      & a{
        color: #fff;  
        text-decoration: none;
      }
      & a:hover{
        color: #FAE915;
      }
    }
    & li:hover{
      transform: scale(1.1);
    }
  }
}

/*carrusel*/




/*Carrusel Start*/
section.slider{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  & article.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    z-index: 10;
    padding: 20% 20% 0 20%;
    & p {
      z-index: 6;
      font-size: 25px;
      color: #fff;
      margin: 20px 0;
    }
    & button{
      margin: 30px 20px;
      font-size: 25px;
    }
  }
  & div.list{
    position:absolute;
    width: max-content;
    display: flex;
    transition: 2s;
    & img{
      width: 100vw;
      max-width: 100vw;
      height: 100vh;
    }
  }
  & div.buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    & button{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #fff5;
      color: #fff;
      border: none;
      font-family: monospace;
      font-weight: bold;
      z-index: 9;
    }
  }
  & ul.dots{
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 8;
    & li{
      list-style: none;
      width: 10px;
      height: 10px;
      padding: 10px;
      background-color: #fff;
      margin: 10px;
      border-radius: 20px;
      transition: 1.5s;
      z-index: 7;
      cursor: pointer;
    }
  }
}

.slider .dots li.active{ /*animacion de agrandar los puntos*/
  width: 50px;
  background-color: #06A241;
}

/*Carrusel end*/
section.cards{
  z-index: 0;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
  font-size: large;
  text-align: center;
  height: 100vh;
  background-color: #7282BE;
  & div:nth-child(1){background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/img/cards/cards1.png')}
  & div:nth-child(2){background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/img/cards/cards2.png')}
  & div:nth-child(3){background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/img/cards/cards3.png');}
  & div{
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 25%;
    overflow: hidden;
    height: 65%;
    width: 30%;
    border-radius: 30px;
    color: white;
    display: flex;
    padding: 0px 4%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 300px;
    flex-wrap: wrap;
    & h3{
      font-size: 1.7rem;
      font-weight: 600;
    }
    & p{
      font-size: 1.2rem;
      font-weight: 400;
    }
    & button.contacto{
      font-size: 1.7rem;
      background-color: #FAE915;
      color: black;
      border-radius: 20px;
      padding: 10px 20px;
      font-weight: 400;
      border: none;
    }
    & button:hover{
      transform: scale(1.1);
      transition: 0.5s ease-in-out;
    }
    & :not(:hover){
      transform: scale(1);
      transition: 0.5s ease-in-out;
    }

    
    /*   background-image: url("ruta_de_la_imagen.jpg");
    background-size: cover;
    background-position: center; */
    & img{
      width: 100%;
      display: none;
    }
  }
}
